---
const title = Astro.props.title;
---

<div class="grid grid-cols-1 md:grid-cols-5 gap-4 w-full">
  <div class="font-semibold col-span-1 dark:text-white">{title}</div>
  <div class="col-span-4 flex flex-col gap-2">
    <slot />
  </div>
</div>
