---
import ContactSection from "./sections/ContactSection.astro";
import FeaturedProjectsSection from "./sections/FeaturedProjectsSection.astro";
import HeroSection from "./sections/HeroSection.astro";
import ServicesSection from "./sections/ServicesSection.astro";
import TechStackSection from "./sections/TechStackSection.astro";
import WorkHistorySection from "./sections/WorkHistorySection.astro";
---

<div class="flex w-full flex-col">
  <HeroSection />
  <ServicesSection />
  <WorkHistorySection />
  <FeaturedProjectsSection />
  <TechStackSection />
  <ContactSection />
</div>
